.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: black;
  background-image: url('../../../public/images/background.png');
  background-size: 170px;
  background-position: center;
  color: var(--text-light);
}

#game-header {
  width: 100vw;
  text-align: center;
  background: var(--dark-purple);
  color: var(--white)
}